# Rider
.idea/
*.sln.iml

# Build
bin/
obj/
out/
*.log

# User-specific
*.user
*.userosscache
*.suo
*.tmp
*.vscode/
*.vs/

# Dependency caches
node_modules/
wwwroot/lib/

# Environment files
.env
.env.*

# VS/Rider user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates